<!-- <div class="container"> -->
<%= render 'search_jobs'%>

<% if @jobs.empty? %>
  <h1> Nothing matched your search request, try again </h1>
<% else %>

    <% @jobs.each do |job| %>
    <%= render partial: "job_summary", locals: { job: job } %>
<% end %>

    <%= paginate @jobs %>
    <div class="pagination_page_info">
      <%= page_entries_info @jobs %>
    </div>
  <!-- </div> -->
<% end %>
