<div class="container center-align">
    <h1 class="center-align">Welcome to PetWork</h1>
    <p class="center-align">Register to get started</p>
    <p class="center-align">
      <%= link_to 'Register', new_user_registration_path, class: 'btn deep-purple btn-lg waves-effect' %>

    </p>
</div>
