/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "materialize/components/color";
 @import 'materialize';
 @import "materialize/extras/nouislider";

.nav-wrapper {
  background: #1384ec;
}
.btn {
  background-color: #1384ec;
}

.brand-logo {
  padding: 2%;
}

p {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

body {
  background: white;
  display:flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

#sidenav-overlay{
  z-index: 996
}
.container {
  width: 75vw;
}

// PAGINATION CSS - https://stackoverflow.com/questions/26615157/pagination-kaminari-no-css-applyed
.pagination a, .pagination span.current, .pagination span.gap {
    // float: left;
    // padding: 0 14px;
    // line-height: 38px;
    text-decoration: none;
    color: black;
    // border: 1px solid #DDD;
    // border-left-width: 0;
    // background-color: #e3f2fd;
}

.pagination_page_info {
  padding-bottom: 2%
}

.container > .row > h5 {
  color: #0080ff;
}

.show {
  display: none;
  color: #66b3ff;
  text-align: right;
}

.show:hover {
  cursor: pointer;
}


// this is the CSS that says for everything div that is created AFTER the 3rd one (n+4 child) set the display to none
.pet-container div:nth-child(n+4),
.posted_job-container .job-class:nth-child(n+4),
.working_job-container .job-class:nth-child(n+4) {
  display: none;
}

.pet-container {
  border-radius: 8px;
}

.mission {
  font-family: "Nunito", "sans-serif";
}
.customerex {
  font-family: "Nunito", "sans-serif";
}
.search {
  font-family: "Nunito", "sans-serif";
  width: 50vw;
}
.mission_dog {
  width: 30vw;
}
.customer_dog {
  width: 30vw;
}
footer {
  background-color: #1384ec !important;
  width:100vw;
}
.footer-content {
  padding-left: 2%;
}

.carousel .carousel-item {
  width: 90vw;
}
.edit-pet {
  padding-top: 5%;
}

// .puppy {
//   width: 90vw !important;
// }
