.job-class{
  border: 1px solid grey;
  border-radius: 8px;
}

.job-info-wrapper {
  padding: 0% 4% 0% 4%;
}

.job-info-class{
  border: 1px solid grey;
  border-radius: 4px;
}

.job-status {
  margin-left: 15px;
}
