.posted_job-section, .working_job-section {
  margin-top: 50px;
}

.job-class{
  border: 1px solid grey;
  border-radius: 8px;
}

.job-info-wrapper {
  margin: 0% 4% 0% 4%;
}

.job-info-class {
  border: 1px solid grey;
  border-radius: 4px;
}
