// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.posted_job-section, .working_job-section, .job-section {
  margin-top: 50px;
}

.job-class{
  border: 1px solid #66b3ff;
  border-radius: 8px;
}

.job-info-wrapper {
  margin: 0% 4% 0% 4%;
}

.job-info-class {
  border: 1px solid #b3d9ff;
  border-radius: 4px;
}
