.pet-section {
  margin-top: 50px;
}



.pet-image {
  width: 98%;
  border: 2px transparent;
  border-radius: 8px;
}

.pet-info-wrapper {
  padding: 0% 2% 0% 2%;
}
.pet-container {
  border: 2px transparent;
  border-radius: 8px;
}
