.pet-section {
  margin-top: 50px;
}

.pet-class {
  border: 1px solid #66b3ff;
  border-radius: 8px;
}

.pet-image {
  border-radius: 6px;
  border-style: outset;
  width: 98%;
  margin: 5% 1%;
}

.pet-info-wrapper {
  padding: 0% 2% 0% 2%;
}
