.prof-image {
  // shes is maximizing the width of the column
  width: 100%;
}
.prof-info {
  margin-top: 3%;
}

.user-section {
  margin-top: 50px;
}

.user-class {
  border: 2px transparent;
  border-radius: 8px;
}

.user-info-wrapper {
  padding: 0% 2%;
}
.user-pet {
  border: 2px transparent;
  border-radius: 8px;
}
