.prof-image {
  // shes is maximizing the width of the column
  width: 100%;
}
.prof-info {
  margin-top: 3%;
}

.user-section {
  margin-top: 50px;
}

.user-class {
  border: 2px solid #8080ff;
  border-radius: 8px;
}

.user-info-wrapper {
  padding: 0% 2%;
}

.user-info-class {
  border: 1px solid #b3b3ff;
  border-radius: 4px;
}
